div.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--background);
  background-image: var(--rock);
  font-weight: bold;

  overflow: hidden;
}

div.body {
  padding: 0.5vw;
}

div.zone {
  background-color: var(--zone);
  background-image: var(--asfalt);

  border: solid;

  padding: 0.5vw;

  width: auto;
}

div.side {
  width: 48.5vw;
}

hr {
  color: black;
  border: none;
  border-top: solid;
}

div.scroll {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.scroll::-webkit-scrollbar {
  display: none;
}

div.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.box {
  transition: all var(--delay) ease-in-out;
  background-color: var(--card_box);
  background-image: var(--paper);
  border: solid;
  padding: 0.5vw;
  margin-bottom: 0.5vw;
}

div.box:hover {
  transition: all var(--delay_hover) ease-in-out;
  background-color: var(--card_hover);
}

div.preview {
  transition: all var(--delay) ease-in-out;

  border: solid;
  border-radius: 15px;

  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  padding: 0.5vw;

  background-color: var(--preview);
  background-image: var(--scroll);
  background-blend-mode: overlay, soft-light, soft-light, normal;
}

div.preview:hover {
  transition: all var(--delay_hover) ease-in-out;

  background-color: var(--preview_hover);
}

div.taskbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  background-color: var(--dropdown);
  background-image: var(--rock);

  padding: 0.5vw;
  margin-bottom: 1vw;

  border: solid;
}

div.zone_taskbar {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

span.box_title {
  font-size: 1.20em;
  text-decoration: underline;
}

span.details {
  color: rgb(255, 255, 255);
}